* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* BACKGROUND GRADIENT */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at bottom right,
      #c800ff,
      #32003f,
      #0a0014);
}

/* PHONE BODY */
.phone {
  width: 320px;
  height: 640px;
  background: black;
  border-radius: 35px;
  padding: 10px;
}

.screen {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background-image: url("Background1.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

/* LOCK SCREEN */
.lock {
  position: absolute;
  inset: 0;
  text-align: center;
  padding-top: .5em;
  transition: transform 0.7s ease;
}

/* STATUS BAR */
.status {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5em 1em 1.5em;
  font-size: .8em;
  opacity: 0.85;
  grid-row: 1;
  grid-column: 1/-1;
}

/* DATE */
.date {
  font-size: 1em;
  color: #f0caff;
}

/* TIME */
.time {
  margin-top: .1em;
  font-size: 90px;
  font-weight: bold;
  line-height: 0.9;
  background: linear-gradient(#e260ff, #ab2cfa);
  background-clip: text;
  color: transparent;
}

/* TAP TEXT */
.hint {
  position: absolute;
  bottom: 30px;
  width: 100%;
  font-size: 14px;
  opacity: 0.7;
}

/* UNLOCKED SCREENS */
.home {
  position: absolute;
  inset: 0;
  padding-top: .5em;
  background: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content 1fr 1fr;
  transform: translateY(100%);
  transition: transform 0.7s ease;

  .widget {
    display: flex;
    justify-self: center;
    margin-top: .5em;
    height: 15em;
    width: 17em;
    object-fit: cover;
    object-position: center;
    border-radius: 35px;
    grid-row: 2;
    grid-column: 1/-1;
  }

  a {
    place-self: center;
  }

  .aboutme {
    height: 7em;
    width: 7em;
    border-radius: 35px;
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
    align-self: center;

  }

  .iloveweb {
    height: 7em;
    width: 7em;
    border-radius: 35px;
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
    align-self: center;
  }

  .efm {
    height: 7em;
    width: 7em;
    border-radius: 35px;
    grid-column: 1;
    grid-row: 4;
    justify-self: center;
    align-self: center;
  }

  .radio {
    height: 7em;
    width: 7em;
    border-radius: 35px;
    grid-column: 2;
    grid-row: 4;
    justify-self: center;
    align-self: center;
  }
}

.profile {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 100%;
  padding-top: .5em;
  background: rgba(0, 0, 0, 0.75);
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: transform 0.7s ease;

  .avatar {
    height: 10em;
    width: auto;
    border-radius: 35px;
    justify-self: center;
    align-self: center;
  }

  .name {
    text-align: center;
    font-size: 26px;
  }

  p {
    text-align: center;
  }

}

/* 🔓 UNLOCK ANIMATIONS */
.lock.up,
.home.up {
  transform: translateY(-100%);
}

.home.show,
.profile.show {
  transform: translateY(0);
}